# Passwordless Login - Symfony Services

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Wepresta_Passwordless_Login\Presentation\Controller\Admin\ConfigureRedirectController:
        tags: ['controller.service_arguments']
